.checkout__ad {
  max-height: 80px;
  width: 100%;
  /* border: 1px solid red; */
  margin-bottom: 0px;
}

.checkout {
  width: 100%;
  /* border: 1px solid black; */
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.checkout__title {
  /* margin-right: 10px; */
  padding: 5px 20px 10px;
  border-bottom: 1px solid lightgray;
}

.checkout__left {
  flex: 0.65;
  border-right: 1px solid lightgray;
}

.checkout__right {
  flex: 0.35;
}
