.checkoutProducts {
  /* border: 1px solid red; */
  /* padding-left: 20px; */
  /* padding-right: 20px; */
}

.checkoutProduct {
  display: flex;
  position: relative;
  background-color: white;
  flex-direction: row;
  border: 1px solid lightgray;
  border-radius: 20px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 20px;
}
.checkoutProduct__left {
  flex: 0.2;
  object-fit: contain;
  margin: 10px;
  padding-left: 30px;
  padding-right: 0px;
}
.checkoutProduct__left > img {
  height: 150px;
  flex: 1;
  width: 100px;
  object-fit: contain;
}
.checkoutProduct__right {
  border-left: 3px solid lightgray;
  flex: 0.8;
  padding-top: 10px;
  padding-left: 10px;
  margin-right: 20px;
  flex-direction: row;
}
.checkoutProduct > small {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 5px;
  color: gray;
  padding: 2px;
  font-size: 10px;
  transition: transform 0.1s ease;
}
.checkoutProduct > small:hover {
  transform: scale(1.3);
}

.checkoutProduct__info > p {
  margin-bottom: 10px;
}

.checkoutProduct__emptyBasket {
  /* border: 1px black solid; */
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
  flex-direction: column;
  display: flex;
  overflow-y: hidden;
  background-color: white;
  flex: 1;
}
.checkoutProduct__empImg {
  margin: 15px;
  height: 250px;
  width: fit-content;
}
.checkoutProduct__empMsg {
  font-size: 30px;
  font-weight: 600;
  margin: 5px;
}
.checkoutProduct__navLink {
  text-decoration: none;
  color: black;
}
/*
.checkoutProduct__emptyBasketImage {
  height: fit-content;
  width: 100%;
} */
/* 
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 100vh;
  overflow-y: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT05yb5FU6uPjE4OiD-Ea6Vwqs1fK80m4xHQw&usqp=CAU");
} */
